/*
  Default theme for BotUI
*/

$font-family: 'Open Sans', sans-serif;
$primary-color: #37BC9B;

.botui_action {
  width: auto;
  max-width: 75%;
  padding: 7px 20px;
  display: inline-block;

  input:not([type='file']) {
    border: 0;
    margin: 0 2px;
    border-radius: 0;
    padding: 5px 7px;
    font-family: $font-family;
    background-color: transparent;
    color: darken($primary-color, 22%);
    border-bottom: 1px solid $primary-color;
  }
}

.botui_button {
  border: 0;
  color: #fff;
  margin: 0 2px;
  line-height: 1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 15px;
  border-radius: 4px;
  font-family: $font-family;
  background: darken($primary-color, 10%);
  box-shadow: 2px 3px 4px 0 rgba(0,0,0,.25);

  &:hover,
  &:focus {
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.25);
  }
}

.botui_message_list {
  padding: 10px 20px 0;
}

.botui_action_container {
  padding: 10px 20px;
}

.botui_message_content {
  width: auto;
  max-width: 75%;
  overflow: scroll;
  padding: 7px 13px;
  border-radius: 15px;
  display: inline-block;
  color: darken($primary-color, 22%);
  background-color: lighten($primary-color, 35%);

  &.human { // if human = true
    float: right;
    color: lighten($primary-color, 40%);
    background-color: $primary-color;
  }

  iframe {
    border: 0;
  }
}

.botui_app_container {
  width: 100%; // mobile-first
  height: 100%;
  line-height: 1;

  @media (min-width: 400px) {
    width: 400px;
    height: 500px;
    margin: 0 auto;
  }
}

.botui_container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.botui_message {
  margin: 10px 0;
  min-height: 20px;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
.botui_message_container {
  width: 100%;
}

.botui_wait {
  line-height: 1.3;
}

/*
  Animation of loading dots
*/
.loading_dot {
  width: .5rem;
  height: .5rem;
  border-radius: .5rem;
  display: inline-block;
  background-color: $primary-color;

  &:nth-last-child(1) {
    margin-left: .3rem;
    animation: loading .6s .3s linear infinite;
  }
  &:nth-last-child(2) {
    margin-left: .3rem;
    animation: loading .6s .2s linear infinite;
  }
  &:nth-last-child(3) {
    animation: loading .6s .1s linear infinite;
  }
}

@keyframes loading {
  0% {
    transform: translate(0, 0);
    background-color: lighten($primary-color, 10%);
  }

  25% {
    transform: translate(0, -3px);
  }
  50% {
    transform: translate(0, 0px);
    background-color: lighten($primary-color, 10%);
  }
  75% {
    transform: translate(0, 3px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.slide-fade-enter-done {
  transition: all .3s ease;
}

.slide-fade-enter,
.slide-fade-exit-done {
  opacity: 0;
  transform: translateX(-10px);
}